<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCewNadXRlJ2O6WfbKNIOe_MBvFfa8TwuY</string>
	<key>GCM_SENDER_ID</key>
	<string>461313390450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.proyecto.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>moviles-cafes</string>
	<key>STORAGE_BUCKET</key>
	<string>moviles-cafes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461313390450:ios:3fd9d9813976a7e5a30feb</string>
</dict>
</plist>